<!DOCTYPE html>

{% extends 'invoice_app/base.html' %}

{% block body_block %}

{% load staticfiles %}


<div>


    <img src="{% static 'images/shop_2.jpg' %}"  >

    <div class="text-block">
        <!-- <h1 style = "font-family: 'East Sea Dokdo', cursive" >Welcome to SHOPPINGHut</h1> -->
        <a href="{% url 'orderForm' %}" class="home_btn">
          <span class="text">Text</span>
          <span class="flip-front" style = "font-family: 'East Sea Dokdo', cursive " >Place Order</span>
          <span class="flip-back" style = "font-family: 'East Sea Dokdo', cursive">Confirm</span>
        </a>
        
    </div>


</div>

<footer >

  <div class="container-fluid bg-primary py-3" >
    <div class="container">
      <div class="row py-3">
        <div class="col-md-9">
          <p class="text-white" style = "font-family: 'Yanone Kaffeesatz', sans-serif;
          " >by Farhan AHmed</p>
        </div>
        <div class="col-md-3">
          <div class="d-inline-block">
            <div class="bg-circle-outline d-inline-block">
              <a href="https://www.facebook.com/" class="text-white"><i class="fa fa-2x fa-fw fa-facebook"></i>
		</a>
            </div>

            <div class="bg-circle-outline d-inline-block">
              <a href="https://twitter.com/" class="text-white">
                <i class="fa fa-2x fa-fw fa-twitter"></i></a>
            </div>

            <div class="bg-circle-outline d-inline-block">
              <a href="https://www.linkedin.com/company/" class="text-white">
                <i class="fa fa-2x fa-fw fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


{% endblock %}