
<!DOCTYPE html>

{% extends 'invoice_app/base.html' %}


{% block body_block %}

{% load staticfiles %}

<img src="{% static 'images/shop_1.jpg' %}"  >

<div class="text-left">
    <h1 style = "font-family: 'East Sea Dokdo', cursive" >Registered Items</h1>
    
</div>

<br>
<br>


<div class = "form-style" >

    <table class = "styled-table">
    
        <thead>
            <tr>
    
                <th>Item Name</th>
                <th>Item Catagory</th>
                <th>Item Price </th>
              
            </tr>
        </thead>
    
        <tbody>
            
            {% if food_list %}
        
            {% for item_info in food_list %}
        
            <tr>
                <!-- <td>{{ item_info.id }}</td> -->
                <td> 
                    <a href="{% url 'sold_list' item_id=item_info.id %}"> 
                        {{ item_info.item_name }}
                    </a>
                </td>
                <td>{{ item_info.item_catagory }}</td>
                <td>{{ item_info.item_price }}</td>
               
            </tr>
        
            {% endfor %}
        
            {% else %}
        
            <h1> No Item in the list</h1>
        
            {% endif %}
        </tbody>
        
        
    </table>
    
    <a href="/form/"><button type="button" class="btn btn-outline-success" >Add Items </button>
    </a>
    

</div>


{% endblock %}







